<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="name-state">
    <div class="field">
      <%= form.label :nome %>
      <%= form.text_field :nome, id: :post_nome %>
    </div>

    <div class="field">
      <%= form.label :estado %>
      <%= form.text_field :estado, id: :post_estado %>
    </div>
  </div>

  <div class="field">
    <%= form.label :motivo %>
    <%= form.text_area :motivo, id: :post_motivo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
